<h1>Reset your password for Devsnest</h1>
  <p>
    Hello, <%= @user.name %>.<br>

    Forgot you password? No worries!

    Click the link given below to reset your password.
    The link is valid for 24 hours.
  </p>

    <%= link_to "Change your password here", "https://devsnest.in/reset-password?uid=#{@uid}" %>
<p>Thanks, Team Devsnest!</p>